* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #F1F3F8; 
   font-family: 'Assistant', sans-serif;

}


header {
    height: 80px;
    width: 100%;
    background-color: #F1F3F8;
    display: flex;
    justify-content: space-between; /* me parece super importante como si tenes 2 objetos, la mejor manera de poner uno a la izquiera y otro a la derecha es con space-between. */
}
}
.header__perfil {
    align-items: flex-end;
    
}
.header__details-perfil {
    margin: 5px;
}
li {
    list-style: none;
}

li a{ /* es interesante ver como para sacarle la decoracion a los lonk, siempre dbeen ser en la etiqueta "a". */
    text-decoration: none;
    color: #393B44;
}

li a:hover{ /* es interesante ver como para sacarle la decoracion a los lonk, siempre dbeen ser en la etiqueta "a". */
    text-decoration: underline;
    color: #393B44;
}

.header__img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    opacity: 80%;
}
.header__perfil-img {
    width: 40px;
    height: 40px;

}

.header__details {
    width: 60px;
    right: -1px;
position: absolute;
}
.main   {
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.main__title {
    color: blue;
    font-size: 25px;
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
}
.input  {       /*esta es la personalizacion de mi boton de busqueda */
    background-color: #c5c5c546;
    border: 2px solid  white;
    border-radius: 25px;
    color: rgb(131, 34, 34);
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
    display: flex;
    margin-left: 200px;
}

.input:hover {
    box-shadow: 14px 10px 20px 5px rgba(41, 49, 139, 0.103);
    transition: 250ms all;
}
::placeholder {
    color: rgb(2, 2, 2); /* con esto personalizo el placeholder del input */
}

.header__perfil-img {
    opacity: 80%;
}

.categories__title {
    color: rgb(50, 52, 148);
    font-size: 20px;
    padding-left: 30px;
    width: 100%;
    margin-bottom: -20px;
}

.carousel {
    margin-top: -50px;
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative; /*me sirve para aclarar a todos los elemntos que esten dentro de el, se ajusten justamente a el carousel */
}

.carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px; /* este padding me srive para darle espacio a que la imagen trabajo sin cortes luego del el hover */
}

.carousel-item {
    background-color: violet;
    width: 150px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;  /* esto es asi porque de lo contrario los elementos del carousel no podrian estar uno al lado del otro, y eso haria un efecto contrario a ser un carousel. */
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative; /* este position relative me sirve en los casos en los que tenga etiquetas delante de la imagen de el carousel, la imagen quede detras y las etiquetas con su escritura quede delante */

}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);

}
.carousel__container:hover .carousel-item {
    opacity: 0.3;

}
.carousel__container:hover .carousel-item:hover {
    transform: scale(1.3);
    opacity: 1;
    
}

.carousel-item__img {
    width: 150px;
    height: 200px;
    object-fit: cover; /* esta propiedad me sirve para que la imagen no se vea mal en el width y el height */
}

.carousel-item-boxShadow1 {
    box-shadow: 10px 10px 10px rgba(206, 48, 9, 0.562);
}


.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100% );
    font-size: 8px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.carousel-item__details:hover {
    opacity: 0.5;

}
.carousel-item__img2, .carousel-item__img3, .carousel-item__img4, .carousel-item__img5, .carousel-item__img6, .carousel-item__img7, .carousel-item__img8 {
    width: 178px;
    height: 200px;
    object-fit: unset;
    background-color: yellow;
    position: absolute;
    left: -10px;
}

.footer {
    display: flex;
    align-items: center;
    height: 10px;
    width: 40%;
    height: 100px;
    justify-content: space-around;

}
.footer > a {
    color: rgb(38, 34, 87);
    text-decoration: none;
}
.footer > a:hover {
    text-decoration: underline;
}